doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/leaflet.coordinates/Control.Coordinates.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
        script(src='/javascripts/leaflet.coordinates/Control.Coordinates.js')
        script(src='/javascripts/leaflet.coordinates/util/NumberFormatter.js')
        script(src='/javascripts/Leaflet.AccuratePosition.js')
    body
        block content
