extends layout.pug

block content
    #map
    #leg_title
        span#leg_items Map Legend
    #leg
        each layer, i in jmap
            input(id=layer.name type='checkbox' checked)
            span#leg_items #{layer.name}
            br
    script.
        var lat = `#{lat}`;
        var lng = `#{lng}`;
    script(src='/javascripts/map.js')
    script(src='/javascripts/geolocation.js')
